<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>com.andi.chromeCount</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/python</string>
		<string>/Users/Andi/Documents/Coding/QuantifiedSelf/chromeProcesses/countChrome.py</string>
	</array>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>

<!-- @@@@LingonWhatStart:/usr/local/bin/python /Users/Andi/Documents/Coding/QuantifiedSelf/chromeProcesses/countChrome.py@@@@LingonWhatEnd -->