<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.andi.commitsSync</string>
	<key>ProgramArguments</key>
	<array>
		<string>cd</string>
		<string>/Users/Andi/Documents/Coding/QuantifiedSelf/Commits;</string>
		<string>/usr/local/bin/python</string>
		<string>syncSqliteToMysql.py</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Users/Andi/Documents/Coding/QuantifiedSelf/Commits/gitCommits.db</string>
	</array>
</dict>
</plist>

<!-- @@@@LingonWhatStart:cd /Users/Andi/Documents/Coding/QuantifiedSelf/Commits; /usr/local/bin/python syncSqliteToMysql.py@@@@LingonWhatEnd -->